<template>
  <section
    class="card"
    :class="
      subject.type === subjectTypes.lecture
        ? 'theme-red'
        : subject.type === subjectTypes.practice
        ? 'theme-green'
        : 'theme-orange'
    "
    data-color="#BA68C8"
    style="max-width: 300px"
  >
    <section class="card__part card__part-2">
      <div class="card__part__side m--back">
        <div class="card__part__inner card__face">
          <div
            class="card__face__colored-side"
            :style="[isEnded ? { width: '80px' } : { width: '7px' }]"
          ></div>
          <h3
            class="card__face__price"
            :style="[isEnded ? { color: '#fff' } : { color: '#555A5F' }]"
          >
            <i :class="subject.icon"></i>
          </h3>
          <div class="card__face__divider"></div>
          <div class="card__face__from-to">
            <p>{{ subject.name }}</p>
            <div class="card__face__from-to__divider"></div>
            <p>{{ subject.teacherSurname }} {{ subject.teacherName }}</p>
          </div>
          <div class="card__face__deliv-date">
            <p :style="[isEnded ? { color: '#fff' } : { color: '#555A5F' }]">
              <i class="bx bx-time"></i> {{ subject.timeStart }}
            </p>
            <p :style="[isEnded ? { color: '#fff' } : { color: '#555A5F' }]">
              <i class="bx bx-time-five"></i> {{ subject.timeEnd }}
            </p>
          </div>
          <div class="card__face__stats card__face__stats--req" v-if="subject.type !== 3">
            <i class="bx bxs-door-open"></i>Аудитория
            <p>{{ subject.room }}</p>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script lang="ts">
import { defineComponent, computed } from '@vue/composition-api'
import getWeekDay from '~/helpers/getWeekDay'

export default defineComponent({
  name: 'Card',
  props: ['subject'],
  setup(props, ctx) {
    const subjectTypes = {
      lecture: 0,
      practice: 1,
      holiday: 3,
    }
    const activeDay = computed(() => ctx.root.$store.state.active)
    const currentDate = new Date()

    const splittedTimeStart = props.subject.timeStart.split(':')
    const checkDate = new Date()
    checkDate.setHours(splittedTimeStart[0])
    checkDate.setMinutes(splittedTimeStart[1])

    const isEnded =
      currentDate >= checkDate && getWeekDay(currentDate) === activeDay.value

    return {
      subjectTypes,
      isEnded,
    }
  },
})
</script>

<style>
.card {
  z-index: 1;
  position: relative;
  width: 90%;
  height: 160px;
  margin-bottom: 15px;
  perspective: 2000px;
  transition: margin 0.4s 0.1s;
}

.card.no-transition * {
  transition: all 0s 0s !important;
}

.card.theme-purple .card__face__colored-side {
  background: #ba68c8;
}

.card.theme-green .card__face__colored-side {
  background: #52a43a;
}

.card.theme-orange .card__face__colored-side {
  background: #f7aa17;
}

.card.theme-red .card__face__colored-side {
  background: #ef5350;
}

.card__part {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 11px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
}

.card__part__side {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #fff;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card__part__side.m--back {
  transform: rotateX(180deg);
}

.card__part-2 {
  z-index: 6;
  top: 100%;
  height: 100%;
  transform: rotateX(179deg) translateZ(3px);
  transition: transform 0.5s ease-out, border-radius 0.25s;
}

.card__part-2 > .m--back {
  overflow: hidden;
  cursor: pointer;
}

.card__part__inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  border-radius: inherit;
}

.card__face {
  padding: 20px 20px 15px;
}

.card__face:after {
  content: '';
  z-index: 5;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    white 60%,
    white 100%
  );
}

.card__face__colored-side {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width: 7px;
  height: 100%;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  transition: width 0.3s;
}

.card__face__price {
  margin-top: -3px;
  font-weight: normal;
  width: 50px;
  font-size: 40px;
  color: #555a5f;
  transition: color 0.3s;
}

.card__face__divider {
  position: absolute;
  left: 80px;
  top: 10px;
  width: 1px;
  height: calc(100% - 20px);
  background: #ececec;
}

.card__face__from-to {
  position: absolute;
  left: 100px;
  top: 20px;
  width: 160px;
  color: #555a5f;
  font-size: 13px;
  text-align: left;
}

.card__face__from-to__divider {
  width: calc(100% - 20px);
  height: 0.5px;
  background: #ececec;
  margin-bottom: 5px;
}

.card__face__from-to p:first-child {
  margin-bottom: 5px;
}

.card__face__deliv-date {
  position: absolute;
  left: 15px;
  top: 105px;
  color: #9a9e9e;
  text-transform: uppercase;
  text-align: left;
  width: 60px;
  font-size: 15px;
  transition: color 0.3s;
}

.card__face__deliv-date p {
  color: #606568;
  transition: color 0.3s;
}

.card__face__stats {
  position: absolute;
  top: 105px;
  color: #b5b5b5;
  font-size: 15px;
  text-align: left;
}

.card__face__stats p {
  font-size: 15px;
  color: #adadad;
  font-weight: bold;
}

.card__face__stats--req {
  left: 100px;
}

.card__face__stats--weight p {
  text-transform: lowercase;
}
</style>
