<template>
  <vs-navbar v-model="active" color="#0093E9" shadow text-white fixed>
    <vs-navbar-item
      v-for="weekday in weekdays"
      :id="weekday.name"
      :key="weekday.name"
      :active="active === weekday.name"
    >
      {{ weekday.shortName }}
    </vs-navbar-item>
  </vs-navbar>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from '@vue/composition-api'
import weekdaysArray from '~/assets/weekdays'

export default defineComponent({
  name: 'Navbar',
  setup(_, ctx) {
    const weekdays = ref(weekdaysArray)
    const store = ctx.root.$store
    const active = computed({
      get: () => store.state.active,
      set: (val) => {
        store.commit('setActive', val)
      },
    })
    return { weekdays, active }
  },
})
</script>
