<template>
  <div class="container" v-touch:swipe="changeActiveDay">
    <transition-group name="company" tag="div" class="card_group">
      <Card
        v-if="activeDayTimetable === undefined || activeDayTimetable.length === 0"
        :key="holiday.name + holiday.type"
        class="company"
        :subject="holiday"
      ></Card>
      <Card
        v-for="subject in activeDayTimetable"
        :key="subject.name + subject.type + subject.timeStart"
        class="company"
        :subject="subject"
      />
    </transition-group>
  </div>
</template>

<script>
import { defineComponent } from '@nuxtjs/composition-api'
import { computed, ref } from '@vue/composition-api'
import timetableSrc from 'assets/timetable'
import weekdaysArray from '~/assets/weekdays'

import Card from '@/components/Card'

export default defineComponent({
  components: {
    Card,
  },
  setup(_, ctx) {
    const store = ctx.root.$store
    const activeDay = computed(() => store.state.active)
    const activeDayTimetable = computed(() => timetableSrc[activeDay.value])
    const weekdays = ref(weekdaysArray)
    const holiday = {
      name: 'Выходной',
      room: '',
      timeStart: '00:00',
      timeEnd: '24:00',
      type: 3,
      icon: 'bx bx-cool',
    }
    const changeActiveDay= (direction) => {
      const activeDayIndex = weekdays.value.findIndex(x => x.name === activeDay.value)
      if (direction === 'left' || direction === 'right') {
        const nextActiveDayIndex = direction === 'left'
          ? activeDayIndex === weekdays.value.length - 1 ? 0 : activeDayIndex + 1
          : activeDayIndex === 0 ? weekdays.value.length - 1 : activeDayIndex - 1

        store.commit('setActive', weekdays.value[nextActiveDayIndex].name)
      }
    }

    return {
      activeDayTimetable,
      holiday,
      changeActiveDay
    }
  },
})
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 60px;
  background: linear-gradient(
    90deg,
    #74ebd5 6%,
    #9face6 32%,
    #47aee4 65%,
    #80d0c7 82%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card_group {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.company {
  backface-visibility: hidden;
  z-index: 1;
}

.company-move {
  transition: all 600ms ease-in-out 50ms;
}

.company-enter-active {
  transition: all 400ms ease-out;
}

.company-leave-active {
  transition: all 200ms ease-in;
  position: absolute;
  z-index: 0;
}

.company-enter,
.company-leave-to {
  opacity: 0;
}
</style>
